<div class="news-list">
    <div class="container">
        <div class="row">
            {% for item in result.ITEMS %}
                {{ AddBitrixActions(item) }}
                <div class="col-lg-6">
                    <article class="news-item" id="{{ GetEditAreaId(item) }}">
                        <div class="news-item__header">
                            {% if item.PREVIEW_PICTURE %}
                            <img src="{{ item.PREVIEW_PICTURE.SRC }}" alt="">
                            {% endif %}
                            <a href="{{ item.DETAIL_PAGE_URL }}" class="news-item__overlay">
                                <div class="news-item__description">
                                    {{ item.PREVIEW_TEXT }}
                                </div>
                            </a>
                        </div>
                        <div class="news-item__body">
                            <h2 class="news-item__title"><a href="{{ item.DETAIL_PAGE_URL }}" title="{{ item.NAME }}">{{ item.NAME }}</a></h2>
                            <div class="news-item__option">
                                <div class="date">{{ item.DISPLAY_ACTIVE_FROM }}</div>
                                <a href="{{ item.SECTION_EL.SECTION_PAGE_URL }}" class="news-item__category">{{ item.SECTION_EL.NAME }}</a>
                            </div>
                        </div>
                    </article>
                </div>
            {% endfor %}
        </div>
        {{  result.NAV_STRING }}
    </div>
</div>