<ul class="login__socil-links social-links">
	<li><p onclick="{{ result.AUTH_SERVICES.VKontakte.ONCLICK}}" class="social-link vk" ></p></li>
	<li><p onclick="{{ result.AUTH_SERVICES.Facebook.ONCLICK}}" class="social-link fb" ></p></li>
	<li><p onclick="{{ result.AUTH_SERVICES.Twitter.ONCLICK}}" class="social-link tw" ></p></li>
	<li><p onclick="{{ result.AUTH_SERVICES.YandexOAuth.ONCLICK}}" class="social-link ya" ></p></li>
	<li><p onclick="{{ result.AUTH_SERVICES.Odnoklassniki.ONCLICK}}"  class="social-link ok" ></p></li>
	<li><p onclick="{{ result.AUTH_SERVICES.MyMailRu.ONCLICK}}"  class="social-link ml" ></p></li>
</ul>