<section class="then-colored-single">
    <div class="js-masonry then-colored__card__row clearfix">
        {% for item in result.ITEMS %}
            <div class="item then-colored__card__col {{ item.DIV_CLASS }}">
                <div class="then-colored__item">
                    <img src="{{ item.IMG }}" alt="">
                    <div class="then-colored__item__overlay">
                        <a href="{{ item.ORG }}" title="{{ item.NAME }}" class="zoom then-colored__item__zoom"><span>Увеличить</span></a>
                        <a href="{{ item.DETAIL_PAGE_URL }}" title="{{ item.NAME }}"
                           class="then-colored__item__overlay__link"><span>{{ item.NAME }}</span></a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {{  result.NAV_STRING }}
</section>